<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="card">
  <div class="card-header">
    <h2 class="text-center">Autenticación de Usuario</h2>
  </div>
  <div class="card-body">
    <form method="post" role="form" th:action="@{/login}" class="form-horizontal">
      <div class="form-group mb-3">
        <label class="control-label"> Usuario</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Ingrese el usuario" />
      </div>

      <div class="form-group mb-3">
        <label class="control-label"> Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Ingrese el Password" />
      </div>
      <div class="form-group mb-3">
        <button type="submit" class="btn btn-primary" >Submit</button>
       <!-- <span> ¿No esta registrado?
                                    <a th:href="@{/register}">Register/Signup Aquí</a>
                                </span>-->
      </div>
    </form>
  </div>
</div>
</body>
</html>